<h3>Author</h3>
  <p>
    <div class="media">
      <img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Vincent Verhoeven</h4>
      </div>
    </div>
  </p>

  <a href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fa fa-twitter"></i>
    <span class="username">{{ site.twitter_username }}</span>
  </a>

<h3>About</h3>
  <ul>
    <li><a href="{{ "/archive" | prepend:site.baseurl }}">Archive</a></li>
  </ul>
